* {
    box-sizing: border-box;
}
.body {
    width: 100%;
    height: 100%;
}
.background {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EEF9BF;
}
.title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'roboto';
    color: #75B79E;
    font-weight: 700;
    font-size: 56px;
    margin: 40px 0;
}
.game {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    width: 117px;
    height: 146px;
    position: relative;
    margin: 15px 15px;
}
.image {
    width: 100%;
    height: 100%;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}
.image img {
    width: 100px;
    height: 100px;
}
.back {
    transform: rotateY(180deg);
  }
/*.card:hover .back{
    transform: rotateY(0deg);
}
.card:hover .front{
    transform: rotateY(-180deg);
}*/
.selected .back {
    transform: rotateY(0deg);
}
.selected .front {
    transform: rotateY(-180deg);
}
.blockClick {
    pointer-events: none;
}
.goal .back {
    transform: rotateY(0deg);
}
.goal .front {
    transform: rotateY(-180deg);
}
@media (max-width: 614px) {
    .title {
        font-size: 36px;
    }
}